{% extends 'base.html' %}

{% block title %}
contact
{% endblock %}

{% block content %}
<main>
  <section>
    <h1 class="cnt text-center" style="color: rgb(49, 138, 156);">Contact Us</h1>
    <hr>

    <div class="right-section">
      <h4 class="cnt"
        style="margin-left: 15px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
        Get in Touch</h4>
      <br>
      <h5
        style="margin-left: 15px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
        General Information</h5>

      <ul>+91 484 2666600</ul>
      <ul>+91 8606537372</ul>
      <ul>enquiry@cityhospital.in</ul>
      <ul>patientrelations@cityhospital.in</ul>
      <br>
      <h5
        style="margin-left: 15px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
        For International Enquiries</h5>
      <ul>+91 9990002000</ul>
      <ul>chinternational@cityhospital.in</ul>
      <ul>www.cityhospital.in</ul>

      <br>
      <h5
        style="margin-left: 15px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
        Address</h5>
      <ul>City Hospital,seaport-Airport Road,<br>kakkanad,kochi 682030,<br>Kerala,India</ul>

    </div>

    <div class="left-section">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d982.2220273693247!2d76.3368688291527!3d10.026091320176517!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd9c578ec32d2605b!2zMTDCsDAxJzMzLjkiTiA3NsKwMjAnMTQuNyJF!5e0!3m2!1sen!2sin!4v1672136299102!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>

  </section>
</main>

  


{% endblock %}